body{
    background-color:#EAF6F6;
}
hr
  {
    border-color: grey;
    border-style: dotted none none none;
    border-width:18px;
    height: 0px;
    width: 20%;
  }
  h1{
    color:#66BFBF;
  }
  h3{
    color:#66BFBF;
    font-family:Garamond;
  }